/*Login, Register and Forgot Password CSS*/
/* Register CSS */

.form-control {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-color: #eeeeee;
  height: 52px !important;
  padding: 15px 20px !important;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
}

.register-card {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .register-card h4 {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 767px) {
  .register-card p {
    font-size: .75rem;
  }
}

.register-card p>a {
  color: #0811fb;
}

@media only screen and (max-width: 767px) {
  .register-card p>a {
    font-size: .75rem;
  }
}

.register-form {
  position: relative;
  z-index: 1;
}

.register-form .form-group {
  position: relative;
  z-index: 1;
}

.register-form .form-group label {
  position: absolute;
  text-align: center;
  z-index: 100;
  border-radius: 50%;
  top: 0;
  right: 15px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 0;
}

.register-form .form-group label span {
  font-size: 12px;
  font-weight: 700;
  line-height: 52px;
  color: #8480ae;
}

.register-form .form-group .form-control {
  border: 0;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}

.register-form .form-group .form-control:focus {
  border-bottom-color: #0811fb;
}

.register-form .progress {
  width: 100%;
  height: 5px;
  margin-top: 1rem;
  border-radius: 0;
  margin-bottom: 0.25rem;
}

.register-form .password-score {
  font-size: 14px;
  font-weight: 700;
}

.register-form .password-score span {
  font-size: 18px;
}

.register-form .password-recommendation {
  font-size: 13px;
}

.register-form .password-recommendation ul,
.register-form .password-recommendation ol {
  padding-left: 0;
}

.register-form #password-recommendation-heading {
  font-weight: 500;
  color: #1d3d71;
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.register-form .label-psswd .hide {
  display: none;
}

.register-form .label-psswd.active .hide {
  display: block;
}

.register-form .label-psswd.active .show {
  display: none;
}

.login-meta-data .forgot-password {
  color: #0811fb;
  font-size: 16px;
}

.login-meta-data .custom-checkbox .custom-control-label::before {
  border-radius: 50%;
}

.register-area {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 767px){
  .auth-term-condition {
    font-size: 14px;
  }
}

